body {
    background-color: #EA872E;
    color: #2E0800;
    font-size: 1.2em;
    font-family: sans-serif;
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

a {
    font-weight: 300;
    color: lemonchiffon;
    text-transform: lowercase;
}

.profile {
    width: 160px;
}
